@using SampleMVC.WebApp.Extensions
@model IList<SampleMVC.WebApp.Dtos.PropertyDto>

@{
    ViewData["Title"] = "Index";
}

<h1>List of properties</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Address</th>
            <th scope="col">Year Built</th>
            <th scope="col">List Price</th>
            <th scope="col">Monthly Rent</th>
            <th scope="col">Gross Yield</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.Address</th>
                <td>@item.YearBuilt</td>
                <td>@item.ListPrice?.ToStringCurrency()</td>
                <td>@item.MonthlyRent?.ToStringCurrency()</td>
                <td>@item.GrossYield?.ToStringPercent()</td>
                <td><a href="#" class="btn btn-info" onclick="insertProperty(`@item.Address`, `@item.YearBuilt`, `@item.ListPrice`, `@item.MonthlyRent`, `@item.GrossYield`)">Save</a></td>
            </tr>
        }
    </tbody>
</table>
